.scoreboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score-pill {
    border-radius: 10px;
    padding: 0.4em 0.8em;
}

.player-score {
    background-color: rgb(115, 238, 115);
}

.draws-score {
    background-color: rgb(255, 179, 36);
}

.bot-score {
    background-color: rgb(255, 114, 114);
}
